<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playback Audio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/recbutton.jpg">
</head>
<body>
    <h1>Playback Recorded Audio</h1>
    <audio controls autoplay onended="window.location.href='/record';">
        <source src="{{ url_for('get_audio', filename=audio)
            }}?nocache={{ time }}" type="audio/wav">
        Your browser does not support the audio element.
    </audio>
    <script>
        // Redirect to '/record' if the audio can't be played
        document.querySelector('audio').onerror = function() {
            window.location.href = '/record';
        };
    </script>
</body>
</html>
